@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body, button, input, select, textarea {
    font-family: 'Cousine', monospace;
    color: white;
}

html, body {
    margin: 0;
    background: var(--black);
}

.hello {
    color: var(--white);
    padding-bottom: 30px;
    font-size: 16px;
}

.nome {
    font-size: 26px;
    color: var(--cyan);
    margin: 0;
    font-weight: 400;
    padding-bottom: 30px;
}

.desc {
    padding-bottom: 30px;
    font-size: 16px;
}

button {
    background: var(--dark-blue);
    border: 0;
    border-radius: 10px;
    padding: 8px 25px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .apresentacao {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .apresentacao img {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: var(--dark-blue);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: var(--dark-blue);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 50px;
}

nav ul a {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    margin: 0 35px;
}

section {
    background: var(--black);
    height: 1000px;
}

@media(max-width: 767px) {

    header .apresentacao {
        width: 100%;
    }

    header .apresentacao img {
        display: inline;
        height: 45px;
        margin-bottom: 25px;
    }

    nav img {
        display: none;
    }
}
