@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body, button, input, select, textarea {
    font-family: 'Cousine', monospace;
    color: var(--white);
}

html, body {
    margin: 0;
    background: var(--black);
}

.hello {
    color: var(--white);
    padding-bottom: 24px;
    font-size: 16px;
}

.nome {
    font-size: 24px;
    color: var(--red);
    margin: 0;
    font-weight: 400;
    padding-bottom: 24px;
}

.desc {
    padding-bottom: 24px;
    font-size: 16px;
}

button {
    background: var(--black);
    outline: 2px solid var(--red);
    border: 0;
    padding: 8px 35px;
    color: var(--white);
    font-weight: normal;
    font-size: 18px;
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .apresentacao {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .apresentacao img {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: var(--lblack);
    padding: 0 100px;
    position: sticky;
    top: 0px;
}

nav ul a {
    left: 20%;
    right: 0;
    align-items: center;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    margin: 0 20px;
}

.sobre-mim {
    display: flex;
    padding: 100px;
}

.sobre-mim .apresentacao {
    width: 50%;
}

.sobre-mim .foto {
    width: 50%;
    text-align: center;
    position: relative;
    
}

.sobre-mim .foto img {
    width: 55%;
    height: 100%;
}

.sobre-mim .foto .line {
    width: calc(60% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--red);
    position: absolute;
    top: -25px;
    left: calc(50% - 60% /2 - 25px);
}

.sobre-mim .foto .line.white {
    transform: rotate(-5.3deg);
    color: var(--white);
}

/* Inicio da animação dos botões */
nav ul .botao {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    padding: 15px 50px;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
}

.botao:hover {
    color: #DA0037;
    transition: color 0.7s;
}

.botao::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
    height: 100%;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 0.5s;
}

.botao:hover::before {
    width: 128%;
}
/* Fim da animação dos botões */
