:root {
    --black: #0F0E0E;
    --purple: #9772FB;
    --dark-blue: #0F4C75;
    --white: #FFFFFF;
    --cyan: #0CECDD;
    --gray: #6A5495;
    --lgray: #99A799;
    --red: #DA0037;
    --lblack: #161616;
}